{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="mb-3">
  <div class="position-relative">
    {% crispy_field field 'class' 'form-control pe-5' %}
    <button
            type="button"
            class="password-toggle position-absolute end-0 top-50 translate-middle-y me-2"
            data-target="{{ field.auto_id }}"
            aria-label="Show password"
    >
      <i class="fa-regular fa-eye"></i>
    </button>
  </div>

  {% if field.name == "password1" or field.name == "new_password1" %}
  <div id="password-strength-wrapper" class="password-strength password-strength-hidden mt-1">
    <div class="progress">
      <div id="password-strength-bar" class="progress-bar"></div>
    </div>
  </div>
  {% endif %}
</div>
