<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock title %}</title>

  {% if company_base and company_base.favicon %}
  <link rel="icon" type="image/png" href="{{ company_base.favicon.url }}">
  {% else %}
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  {% endif %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Fonts family -->
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600;700&display=swap" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">


  {% block extra_css %}{% endblock %}
</head>

<body class="d-flex flex-column min-vh-100">
<!-- Navbar -->
{% include 'main/includes/navbar.html' %}

<!-- Content -->
<main class="flex-grow-1">
  {% block content_wrapper %}
  {% endblock content_wrapper %}
</main>

<!-- Footer -->
{% include 'main/includes/footer.html' %}

<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock extra_js %}
</body>
</html>