{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ company_profile.name|default:"Erbauer" }}{% endblock title %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/home.css' %}">{% endblock %}
{% block content_wrapper %}
<div class="page-noise"></div>

{% include "includes/home/hero.html" %}
{% include "includes/home/services.html" %}
{% include "includes/home/about.html" %}
{% include "includes/home/projects.html" %}
{% include "includes/home/team.html" %}
{% include "includes/home/contacts.html" %}
{% endblock content_wrapper %}

{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock extra_js %}